@model IEnumerable<MyProject.Models.Register>

@{
    ViewBag.Title = "Userlist";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h2>Userlist</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-bordered display" id="table_id">
        <thead>
            <tr style="color:white">
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.user_email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User_img)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="color:white">
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user_email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <img style="width:100px;height:100px;" src="~/ProjectImages/@item.User_img" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new
                        {
                            id = item.reg_id
                        }) |

                        @Html.ActionLink("Delete", "Delete", new
                        {
                            id = item.reg_id
                        })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>